
:host {
  display: block;
  padding: 10px;
}

.full-width-table {
  width: 100%;
}

.battery {
  width: 100%;
  height: 20px;
  position: relative;
  border: 1px solid gray;
  border-radius:10px;
}

.battery__text {
  position: absolute;
  text-align: center;
  width: 100%;
}

.battery__percantage {
  height: 100%;
  background-color: aquamarine;
  display: block;
  justify-self: start;
  border-radius:10px;
}
