<div class="mat-elevation-z8" *ngIf="information$ | async as information">
  <table mat-table class="full-width-table" [dataSource]="information.dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

     <!-- Link -->
    <ng-container matColumnDef="linkName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link</th>
      <td mat-cell *matCellDef="let row"><a href="{{row.link}}" target="_blank">{{row.linkName}}</a></td>
    </ng-container>

    <ng-container matColumnDef="bataryPercent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Battery</th>
      <td mat-cell *matCellDef="let row">
        <div class="battery">
          <span class="battery__text">{{row.bataryPercent}}%</span>
          <span class="battery__percantage" [style.width]="row.bataryPercent + '%'"></span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="information.columns"></tr>
    <tr mat-row *matRowDef="let row; columns: information.columns;"></tr>
  </table>
</div>
